# shared configuration
APP_TITLE=Qernel
LOG_LEVEL="The level to display log messages. Use: DEBUG | ERROR | INFO | SILENT | WARN"

# api configuration
API_BASE_URL="Full base URL, including the port, of the API, i.e. 'http://localhost:3000'"
API_HOST="Host of the database, i.e. '0.0.0.0'"
API_PORT="Port of the API, i.e. '3000'"
API_RELOAD="Whether the API relaods"

# model configuration
MODEL="The name of the model, e.g. llama3.1:8b"
MODEL_BASE_URL="The base URL of the model"
