# shared configuration
APP_TITLE=Qernel
LOG_LEVEL="The level to display log messages. Use: DEBUG | ERROR | INFO | SILENT | WARN"

# api configuration
API_BASE_URL="Full base URL, including the port, of the API, i.e. 'http://localhost:3000'"
API_HOST="Host of the database, i.e. '0.0.0.0'"
API_PORT="Port of the API, i.e. '3000'"
API_RELOAD="Whether the API relaods"

# auth configuration
GITHUB_CLIENT_ID="The client ID of the GitHub OAuth app"
GITHUB_CLIENT_SECRET="The client secret of the GitHub OAuth app"
GITHUB_REDIRECT_URI="The GitHub OAuth app's authorization callback URL - used to prevent attackd"
GITHUB_SCOPE="A space-delimited list of permissions for the GitHub OAuth app"
SESSION_SECRET=

# database
POSTGRES_DB="Name of the database, i.e. 'qernel'"
POSTGRES_HOST="Host of the database, i.e. 'localhost'"
POSTGRES_PASSWORD="Password for the user"
POSTGRES_PORT="Port of the database, i.e. '5432'"
POSTGRES_USER="Username for the user"

# model configuration
MODEL="The name of the model, e.g. llama3.1:8b"
MODEL_API_KEY="The API key of the model"
MODEL_BASE_URL="The base URL of the model"
MODEL_PROVIDER="The model provider"

# session
REDIS_DB="The Redis database number"
REDIS_HOST="Host of the session store, i.e. 'localhost'"
REDIS_PASSWORD="The password for the user"
REDIS_PORT="Port of the session store, i.e. '6379'"
REDIS_USERNAME="Username for the user"
